#pageLoading
  text-align center
  margin-top 30%
  h1
    font-size 16px
    margin-bottom 20px
  progress
    width: 250px

#browserNotSupported
  text-align center
  width 400px
  margin 30% auto 0

form
  position absolute // for 100% height in flex box
  height 100%
  width 100%
  .message
    padding 15px 25px
  fieldset
    border-bottom 1px solid rgba(#000, 0.1)
    padding 25px 0
    &:last-of-type
      border-bottom none
  label
    display block
    padding 20px 0 5px 0
    font-size 17px
    font-weight 500
    small
      display block
      font-size 13px
      color rgba(#000, 0.5)
  input, textarea
    background #fff
    border 1px solid rgba(#000, 0.15)
    padding 10px 10px
    box-sizing border-box
    &:focus
      outline none
      border-color #C0190C
    &[type=submit], &[type=button]
      font-weight bold
      padding 10px 20px
      color #fff
      background #C0190C
      cursor pointer
    &[disabled]
      opacity 0.5
    &.description, &.title
      border none
      background none
    &.title
      font-size 17px
      padding 10px 0 5px 0
    &.description
      color rgba(#000, 0.5)
      padding 0px 0 5px 0
  input[type=text], textarea
    width 100%
  textarea
    min-height 100px
.submitContainer
  background rgba(#000, 0.05)
  border-bottom 1px solid rgba(#000, 0.1)
  height 51px
  overflow hidden
  box-sizing border-box
  padding 5px 25px
  a, .info
    line-height 43px
  .info
    color rgba(#000, 0.25)
  &.topContainer
    padding-top 14px
    height 71px
    a, .info
      line-height 43px



h1
  font-weight normal
  font-size 25px
  line-height 35px
h2
  font-size 17px
  padding 10px 0
h3
  color rgba(#000, 0.25)
  margin-top 10px

.framelessLayout
  width 300px
  margin 40px auto
  height 100%
  .logo
    margin 0 auto
    width 200px
  .page
    border-top 4px solid #C0190C
    background #FbFbFb
    margin-top 20px
    header
      text-align center
      h1
        font-size 16px
        font-weight bold
        margin 10px 0


.layout
  height 100%
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  width: 100%

  .page
    background #fff
    width 100%
    max-width 1000px
    aside
      padding 25px
      width 200px
      border-top 4px solid #C0190C
      .steps
        counter-reset: stepCounter
        margin-top 20px
        li
          font-size 14px
          margin-bottom 10px
          color rgba(#000, 0.25)
          position relative
          &:before
            // font-family "Open Sans", Helvetica, Arial, sans-serif
            content: counter(stepCounter)
            counter-increment: stepCounter
            border 2px solid rgba(#000, 0.25)
            font-weight bold
            font-size 16px
            text-align center
            padding-top 5px
            border-radius 50%
            height 35px
            width 35px
            box-sizing border-box
            display inline-block
            margin-right 10px
            padding-left 1px
            vertical-align middle
          &:after
            content ' '
            display block
            height 10px
            border-left 2px solid rgba(#000, 0.1)
            position absolute
            top -10px
            left 17px
          &:first-of-type:after
            display none
          &.done
            color rgba(#000, 0.5)
            &:before
              border-color rgba(#000, 0.5)
              // content 'c'
              // font-family: 'Pictos Custom'
              // font-size 19px
              // padding-top 8px
            &:after
              border-color rgba(#000, 0.35)
          &.active, &.done:hover
            color #E30613
            &:before
              border-color #E30613
              // color #F8D200
              // background #F8D200
              // color #fff
            &:after
              border-color rgba(#000, 0.35)

    .content
      background #FbFbFb
      box-shadow inset 1px 0 0 #F4F4F4
      // border-left 1px solid rgba(#000, 0.03)
      border-top 4px solid #971109
      position relative
      .actions
        position absolute
        right 15px
        top 35px
        a
          font-size 14px
          font-weight bold
          color rgba(#000, 0.25)
          margin-right 15px
          &:hover
            color rgba(#000, 0.5)
          &:before
            font-size 27px
            padding-top 5px
            display inline-block
