<head>
  <title>verwaltung.io</title>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name = "viewport" content = "width = device-width, user-scalable = no">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Asap:400,700,400italic,700italic">
  <link rel="stylesheet" href="https://get.pictos.cc/fonts/3896/6">
</head>

<body>
</body>

<template name="layout">
  <div class="{{pageLayout}} flexContainer flexColumn">
    {{>pageHeader}}
    <div id="{{pageTemplate}}" class="page flexContainer flex">
      {{>navigation}}
      {{{yield}}}
    </div>
  </div>
</template>

<template name="framelessLayout">
  {{{yield}}}
</template>

<template name="loading">
  <div id="pageLoading">
    <h1>Applikation wird geladen, bitte warten...</h1>
    <progress></progress>
  </div>
</template>

<template name="browserNotSupported">
  <div id="browserNotSupported">
    Ihr Browser wird im Augenblick noch nicht unterstützt. <br>
    Bitte benutzen Sie <a href="https://www.google.com/chrome">Google Chrome</a>.
  </div>
</template>
