#navigation
  background #3f3f3f
  // width 200px
  border-top 4px solid #E30613
  padding-top 70px
  a
    color rgba(#fff, 0.5)
    font-weight bold
    font-size 15px
    font-family 'Asap', sans-serif
    display block
    padding 15px 40px 11px 15px
    border-bottom 1px solid rgba(#fff, 0.1)
    &:before
      font-size 27px
      padding-top 4px
      margin-right 10px
      display inline-block
    &:hover
      color #fff
      background-color rgba(#fff, 0.05)
    &:first-of-type, &.new
      border-top 1px solid rgba(#fff, 0.1)
