#home
  .background
    background url("/images/home.png") center 80% 
    background-size cover
    background-attachment fixed
    height 100%
    overflow hidden
    .color
      background rgba(#000, 0.6)
      height 100%
      color #fff
