#login, #register, #welcome
  button
    width 100%
  input, label
    border 0
    background #fff
    padding 10px 5px 10px 10px
    margin 0
    height 40px
    box-sizing border-box
    display inline-block
    margin-bottom 5px
  .fieldContainer:last-of-type
    margin-top 0
  label
    color rgba(#000, 0.5)
    font-weight bold
  input
    outline none
  .switchAuth
    margin-top 10px
    color rgba(#000, 0.5)
    text-align center
    a
      color #C0190C

